[Desktop Entry]
Comment=NixOS Custom Theme
Keywords=Desktop;Workspace;Appearance;Look and Feel;Logout;Lock;Suspend;Shutdown;Hibernate;
Name=Breeze
Type=Service

X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=Alex Hulbert
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Email=alex@alexhulbert.com
X-KDE-PluginInfo-License=
X-KDE-PluginInfo-Name=nixos
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=
X-Plasma-MainScript=defaults
