* {
    font-family: "SFNS Display";
    font-size: 18px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

window#waybar {
    background: transparent;
    animation: fadeIn 0.5s ease-in forwards;
}

window#waybar > box {
    background: alpha(@theme_bg_color_breeze, 0.84);
    color: @theme_fg_color_breeze;
    margin-bottom: 6px;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}

#workspaces .flat {
    opacity: 0.4;
}

#workspaces .flat.visible {
    opacity: 0.8;
}

#workspaces .flat.visible.active {
    opacity: 1;
    font-weight: bold;
}

.modules-left {
    margin-left: 4;
}

.modules-right {
    margin-right: 9;
}

#clock {
    font-weight: bold;
}

#battery.warning, #battery.critical, #battery.error {
    background-color: transparent;
}

#battery.warning {
    color: @warning_color_breeze;
}

#battery.critical, #battery.error {
    color: @error_color_breeze;
}


#pulseaudio, #custom-notification {
    margin-right: -7;
}

#network {
    margin-right: -4;
}
