.icon {
  font-size: 120;
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.075);
  margin: 10;
  transition-duration: 0.2s;
  transition-property: background-color, color;
}

#display-switcher .icon {
  min-width: 157px;
  padding-right: 43px;
}

#display-switcher widget:nth-child(3) > .icon,
#power-menu widget:nth-child(4) > .icon {
  min-width: 180px;
  padding-right: 20px;
}

#display-switcher widget:nth-child(4) > .icon {
  min-width: 165px;
  padding-right: 35px;
}

box:nth-child(2) > widget:nth-child(2) > .icon {
  min-width: 175px;
  padding-right: 25px;
}

box:nth-child(2) > widget:nth-child(1) > .icon {
  min-width: 185px;
  padding-right: 15px;
}

window {
  background: transparent;
}

window > box, .icon {
  border-radius: 10;
}

window > box {
  padding: 5;
  border-radius: 10;
  margin: 8px;
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.2);
}

.selection-label {
  font-size: 16;
  margin-top: -5;
  margin-bottom: 5;
}

.icon.hover {
  margin: 8;
  background-color: rgba(255, 255, 255, 0.15);
  border: 2px solid @borders_breeze;
}

.icon.selected {
  background-color: @theme_selected_bg_color_breeze;
  color: @theme_selected_fg_color_breeze;
}

window > box {
  background-color: alpha(@theme_bg_color_breeze, 0.84);
}
