#navigator-toolbox, #TabsToolbar, #nav-bar {
  height: 52.5px !important;
  min-height: 52.5px !important;
  max-height: 52.5px !important;
}

#navigator-toolbox {
  flex-direction: column-reverse !important;
}

#navigator-toolbox:focus-within #TabsToolbar {
  margin-bottom: -52.5px !important;
  transition: margin-bottom 0s !important;
}
