#navigator-toolbox, #tabbrowser-tabs, #PersonalToolbar {
  border: none !important;
  background-color: transparent !important;
}

#nav-bar {
  background: transparent !important;
}

#TabsToolbar {
  padding-top: 5px !important;
  padding-bottom: 3.5px !important;
  padding-left: 10px !important;
  transition: margin-bottom 150ms ease !important;
}

.tab-background[selected], .tab-background[multiselected] {
  background-color: var(--toolbar-field-background-color) !important;
}

.tabbrowser-tab:hover .tab-background:not([selected]):not([multiselected]) {
  background-color: var(--urlbarView-highlight-background) !important;
  opacity: 0.5;
}

#firefox-view-button {
  margin-left: 8px !important;
}

.titlebar-spacer[type="post-tabs"], .titlebar-buttonbox-container {
  display: none !important;
}
