html[data-darkreader-mode] body a {{
  color: var(--darkreader-selection-background) !important;
}}

@-moz-document regexp('^(?!http).*') {{
  :root>* {{
    background: var(--lwt-accent-color, var(--newtab-background-color, rgb({background.rgb}))) !important;
  }}

  :root {{
    --newtab-background-color-secondary: transparent !important;
  }}

  .search-wrapper .search-handoff-button, .search-wrapper input {{
    border: 1px solid var(--newtab-text-primary-color) !important;
    box-shadow: none !important;
  }}
}}

#urlbar-input-container:-moz-lwtheme, .urlbarView:-moz-lwtheme {{
  background-color: color-mix(in srgb, var(--lwt-accent-color) 87%, black);
}}
